.App {
  text-align: center;
  background-color: #282c34;
}

.App-searchForm {
  padding: 40px 0px;
}

.App-content {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: white;
}